/* Task: Add Color to HTML Page Using CSS
User Story
As a developer, I want to use CSS to style my HTML page.

Acceptance Criteria
It's done when the HTML page has been linked with the external CSS style sheet.

It's done when Section 1 has a background color of purple and the text is yellow.

It's done when Section 2 and Section 3 have a background color of blue and the text is orange.

It's done when the container has a background color of black.

It's done when Section 4 and Section 5 have a text color of white..

It's done when Section 6 has a text color of yellow. */


.lesson{
    width: 200px;
    height: 100px;
}
#section-1{
    background-color: purple;
    color: yellow;
}

.section-blue{
    background-color: blue;
    color: orange;
}

.container{
    background-color: black;
    color: white;
}

#section-6{
    color: yellow;
}